<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testLogin</display-name>
    <servlet-name>testLogin</servlet-name>
    <servlet-class>testLogin</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>Kartikeya</param-value>
    </init-param>
    <init-param>
      <param-name>email</param-name>
      <param-value>kar@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>pass</param-name>
      <param-value>password</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>testLogin</servlet-name>
    <url-pattern>/testLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet3</display-name>
    <servlet-name>servlet3</servlet-name>
    <servlet-class>servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet3</servlet-name>
    <url-pattern>/servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet2</display-name>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet1</display-name>
    <servlet-name>HiddenServlet1</servlet-name>
    <servlet-class>com.hsbc.tr.HiddenServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet1</servlet-name>
    <url-pattern>/HiddenServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet2</display-name>
    <servlet-name>HiddenServlet2</servlet-name>
    <servlet-class>com.hsbc.tr.HiddenServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet2</servlet-name>
    <url-pattern>/HiddenServlet2</url-pattern>
  </servlet-mapping>
</web-app>